@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}
body{
  width: 100%;
  color: #ffffff;
  background-color: #000;
  font-family: 'Roboto Mono', monospace;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
}
.hiddenBody{
  overflow: hidden;
}
